In [6]:
num = -3
if num >=0:
    print("number is positive")
else:
    print("number is negative")

number is negative

In [9]:
string1 = "I love python "
string2 = "I love Java"
print(string1 + string2)

I love python I love Java

In [11]:
a= True
b = False
print(a)
print(b)

True
False

In [12]:
a = not True
b = not False
print(a)
print(b)

False
True

In [15]:
animal = "dog"
if animal in  ["horse","cow","dog"]:
    print ("Your animal is in the list")

if animal not in ["horse", "cow"]:
    print("Your animal is not in the list")

Your animal is in the list
Your animal is not in the list

In [16]:
print("answer the question to know how long live that you lived.")
name = input("Enter Your Name:")
print("What is Your Age?",(name),"?")
age = int(input("Age: "))
days = age*365
minutes = age*525948
seconds = age*31556926
print(name,'is alive for',days,'Days',minutes,'Minutes',seconds,"Seconds")
print("Thanku for using my age calc program")

answer the question to know how long live that you lived.

Enter Your Name: Junaid Ali

What is Your Age? Junaid Ali ?

Age:  25

Junaid Ali is alive for 9125 Days 13148700 Minutes 788923150 Seconds
Thanku for using my age calc program

In [18]:
My_Name = "Junaid Ali "
Age = 32
Total =My_Name+str(Age)
print(Total)

Junaid Ali 32

In [4]:
animals = ["Lion", "dog" , "Cow" ,"Duck"]
print(animals)
print(animals[-3].title())
print(animals[2])

['Lion', 'dog', 'Cow', 'Duck']
Dog
Cow

In [5]:
animals = ["Lion", "dog" , "Cow" ,"Duck"]
animals[3]="Tiger"
print(animals)

['Lion', 'dog', 'Cow', 'Tiger']

In [6]:
animals = ["Lion", "dog" , "Cow" ,"Duck"]
del animals[2]
print(animals)

['Lion', 'dog', 'Duck']

In [16]:
animals = ["Lion", "dog" , "Cow" ,"Duck"]
#animals.sort()
#print(animals)
#animals.sort(reverse=True)
#print(animals)
animals.reverse()
print(animals)

['Duck', 'Cow', 'dog', 'Lion']

In [19]:
List = ["Dogs","Apple","Banana","Orange"]
for list in List:
    print("I Love "+list)

print("ThankYou For Using List in Python")

I Love Dogs
I Love Apple
I Love Banana
I Love Orange
ThankYou For Using List in Python

In [20]:
for Value in range(0,5):
    print(Value)

0
1
2
3
4

In [22]:
ListNum=[1,2,3,4,5]
print(min(ListNum))
print(max(ListNum))
print(sum(ListNum))

1
5
15

In [27]:
OS = ["Windows","Lunix","IOS","Android","MAC"]
print(OS[0:5])
print(OS[2:4])
print(OS[-3:])

['Windows', 'Lunix', 'IOS', 'Android', 'MAC']
['IOS', 'Android']
['IOS', 'Android', 'MAC']

In [29]:
OS = ["Windows","Lunix","IOS","Android","MAC"]
for os in OS[0:5]:
    print(os)

Windows
Lunix
IOS
Android
MAC

In [34]:
ProgLang = ["Java","Javascript","Python","PHP"]
print(ProgLang)
Copy_prolang = ProgLang[:]
Copy_prolang.append("Kotlin")
print(Copy_prolang)

['Java', 'Javascript', 'Python', 'PHP']
['Java', 'Javascript', 'Python', 'PHP', 'Kotlin']

In [37]:
tup = ("Java","Kotlin")
print(tup)
for tup in tup:
    print(tup)
tup = (23,42,23)
print(tup)

('Java', 'Kotlin')
Java
Kotlin
(23, 42, 23)

In [39]:
MyList = ["Apple","Mango","Banana"]
if "Apple" and "Mango" in MyList:
    print(True)
else:
    print(False)

True

In [42]:
MyList = ["Apple","Mango","Banana","Peach"]
fruit = "Peach"
if fruit not in MyList:
    print(fruit.lower()+" It,s Not in The List")
else:
    print(fruit.lower()+" It,s In The List")

peach It,s In The List

In [46]:
print("Program for Bank Loan Eligibility Criteria: ")
salary = 100
if salary > 1000:
    amount = 200
    print("You are eligible for bank loan at",amount,"amount")
elif salary == 1000:
    amount = 500
    print("You are eligible for bank loan at",amount,"amount")
else:
    print("You are not eligible for bank loan")

Program for Bank Loan Eligibility Criteria:
You are not eligible for bank loan

In [50]:
print("Zoo Discount")
print("and those who vist more then 3 times are eligible")
price = 120
visit = int(input("How Many Times You Visit, "))
if visit == 3:
    price = 120-30
    print("You get a Discount of ",price,"$")
elif visit == 4:
    price = 120-40
    print("You get a Discount of ",price,"$")
elif visit == 5:
    price = 120-50
    print("You get a Discount of ",price,"$")
elif visit == 5:
    price = 120-50
    print("You get a Discount of ",price,"$")
elif visit == 6:
    price = 120-60
    print("You get a Discount of ",price,"$")
else:
    print("You Are Not Eligible For Discount")

Zoo Discount
and those who vist more then 3 times are eligible

How Many Times You Visit,  6

You get a Discount of  60 $

In [8]:
print("Dictionaries in Pyhton")
dic = {'1':'Hunza','2':'Gilgit','3':'Islamabad'}
print(dic['1'])
print(dic['2'])
print(dic['3'])
#Adding a new key and value to dic
dic['4']='Karachi'
print(dic['4'])

Dictionaries in Pyhton
Hunza
Gilgit
Islamabad
Karachi

In [12]:
dic = {}
dic[1]='Hunza'
dic[2]='Gilgit'
dic[3]='Islamabad'
print(dic)

{1: 'Hunza', 2: 'Gilgit', 3: 'Islamabad'}

In [13]:
dic = {'1':'Hunza','2':'Gilgit','3':'Islamabad'}
print("Before Edit",dic)
dic['3']='Karachi'
print("After Edit",dic)

Before Edit {'1': 'Hunza', '2': 'Gilgit', '3': 'Islamabad'}
After Edit {'1': 'Hunza', '2': 'Gilgit', '3': 'Karachi'}

In [15]:
dic = {'1':'Hunza','2':'Gilgit','3':'Islamabad'}
print("Before Deletion",dic)
del dic['3']
print("After Deletion",dic)

Before Deletion {'1': 'Hunza', '2': 'Gilgit', '3': 'Islamabad'}
After Deletion {'1': 'Hunza', '2': 'Gilgit'}

In [19]:
i=1
print("Enter a Name:")
while i<=5:
    n=input("Inserted Name:")
    if n=='John':
        break
    if n=='Don':
        continue
    i=i+1

Enter a Name:

Inserted Name: sdsa
Inserted Name: ads
Inserted Name: Don
Inserted Name: John

In [21]:
#Function
def names(Fname , Lname):
    print('First Name is '+Fname)
    print('Last Name is '+Lname)
    print('\n')
#Function Call    
names("Junaid","Ali")
names("John","Die")

First Name is Junaid
Last Name is Ali


First Name is John
Last Name is Die

In [22]:
def Add(a,b):
    total = a+b
    return total
#Function call
print(Add(10,20))

30

In [28]:
class Person:
    def insert(self,Name,age,Id):
        self.Name=Name
        self.age=age
        self.Id=Id
    def output(self):
        print("Name is "+self.Name,"Age is "+self.age,"Id is "+self.Id)
j=Person()
j.insert("Junaid Ali","26","03495328703")
j.output()

Name is Junaid Ali Age is 26 Id is 03495328703

In [29]:
class Person:
    def __init__(self,Name,age,Id):
        self.Name=Name
        self.age=age
        self.Id=Id
    def output(self):
        print("Your Name is "+self.Name,"Your Age is "+self.age,"Your Id is "+self.Id)
j=Person("Junaid Ali","26","03495328703")
j.output()

Your Name is Junaid Ali Your Age is 26 Your Id is 03495328703

In [30]:
class Person:
    def __init__(self,Name,age,Id):
        self.Name=Name
        self.age=age
        self.Id=Id
    def output(self):
        print("Your Name is "+self.Name,"Your Age is "+self.age,"Your Id is "+self.Id)
class Child(Person):
    pass
kids = Child("Junaid Ali","26","03495328703")
kids.output()

Your Name is Junaid Ali Your Age is 26 Your Id is 03495328703